
.flex-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.container {
    align-self: flex-start;
    float: left;
    margin: 50px;
    width: 360px;
    height: 80px;
    font-family: "Roboto";
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    /* background: url("https://lonelyplanetwpnews.imgix.net/2018/06/500pxRF_173514057.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}
h1 {
    text-transform: uppercase;
    background: darkslategray;
    color: white;
    margin: 0;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 24px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.empty-lists {
    border-radius: 15px;
}

input {
    border: none;
    background: #f7f7f7;
    padding: 13px 13px 13px 20px;
    font-size: 18px;
    color: darkslategray;
    border: 3px solid rgba(0,0,0,0);
    width: 100%;
    box-sizing: border-box;
    height: 40px;
}

input:focus {
    background: white;
    border: 3px solid darkslategray;
    outline: none;
}

.initial {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.spaceholder {
    border: none;
    background: #f7f7f7;
    padding: 7px 13px 13px 20px;
    border: 3px solid rgba(0,0,0,0);
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 18px;
    color: #72767c;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr {
    border-color: transparent;
}

li {
    background: white; 
    line-height: 40px;
    color: #666;
    padding-left: 10px;  
    cursor: pointer;
    word-wrap: break-word;
    height: auto;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

li:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.last-li {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dragging {
    display: none;
}

.hidden {
    display: none;
}

.ui-draggable-dragging {
    width: 360px;
    border-radius: 15px;
}


.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip-plus-text {
    visibility: hidden;
    font-family: "Roboto";
    font-weight: normal;
    width: 120px;
    height: 15px;
    background-color: rgb(181, 181, 181);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px;
    text-transform: capitalize;
}

.tooltip-plus-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(181, 181, 181) transparent transparent transparent;
}

.tooltip-plus:hover .tooltip-plus-text {
    visibility: visible;
    opacity: 1;
}

.fa-trash-alt {
    color: #e74c3c;
}

.tooltip-trash-text {
    visibility: hidden;
    font-family: "Roboto";
    font-weight: normal;
    width: 120px;
    height: 15px;
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px;
    text-transform: capitalize;
}

.tooltip-trash-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e74c3c transparent transparent transparent;
}

.tooltip-trash:hover .tooltip-trash-text {
    visibility: visible;
    opacity: 1;
}

.fa-check {
    color: #5bef3e;
}

.tooltip-check-text {
    visibility: hidden;
    font-family: "Roboto";
    font-weight: normal;
    width: 120px;
    height: 15px;
    background-color: #5bef3e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px;
    text-transform: capitalize;
}

.tooltip-check-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #5bef3e transparent transparent transparent;
}

.tooltip-check:hover .tooltip-check-text {
    visibility: visible;
    opacity: 1;
}

.fa-times {
    padding: 12px 25px;
    color: #e74c3c;
}


.fas {
    float: right;
    cursor: pointer;
}

